@page
@model Projeto1_ASP.Net_Core.IndexModel
@{
}
<form id="form1" runat="server">
    <div>
        <asp:label id="IDLabelTeste" runat="server" text="Videoaulas ASP.NET do Nerizon da Gaita"></asp:label>
    </div>
</form>